/* src/components/RegisterPersonForm.css */

/* src/components/RegisterPersonForm.css */

.register-page {
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8e80db, #71c7bb, #dde692); /* Fondo degradado */
  background-size: cover; /* Ajusta el fondo para cubrir */
  width: 97vw; /* Asegura que ocupe todo el ancho de la ventana */
  overflow: hidden; /* Evita que el contenido se desborde fuera de la pantalla */
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 97,5%;
}

.register-page-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 100%; /* Ocupa toda la altura disponible */
}

.register-person-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
}

.input-group label {
  display: block;
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

button:hover {
  background-color: #555;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
