/* src/components/RegisterForm.css y src/components/SetPasswordForm.css */

.success-message {
    color: green;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
